header {
  height: 90px;
  background-color: #65a7a0;
  border-radius: 5px;
}

nav {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 1.8em;
  font-family: serif;
  font-weight: 300;
  margin-top: 22px;
  color: #3b2e24;
  text-align: center;
}

body {
  background-color: rgb(231, 215, 196);
}

.contacts {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.contact-card {
  margin-top: 5px;
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 13px;
  padding-bottom: 20px;
  background-color: white;
}

.contact-card > img {
  width: 15em;
  height: 15em;
  align-self: center;
  border-radius: 5px;
  object-fit: cover;
}

.contact-card > h3 {
  font-weight: 700;
  font-size: 18px;
}

.info-group {
  display: flex;
  align-items: center;
}

.info-group > img {
  height: 11px;
  margin-right: 8px;
}

.info-group > p {
  margin-block: 3px;
  font-size: 16px;
  color: #2b283a;
}
